#graph {
	border: 1px dotted rebeccapurple;
}

body {
	margin: 0em;
}

#ui {
	position: fixed;
	display: inline-block;
	z-index: 10;
	top: 10px;
	right: 10px;
	font-size: 13px;
	text-align: right;
}

button {
	position: relative;
	top: 10px;
	right: 10px;
	font-size: 13px;
}